body {
  height: 100vh;
}
.somebackgroundimg {
  background-image: url("blur-close-up-decoration-133229.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
}

header {
  position: relative;
  height: 480px;
width: 100vw;

}

.nav-link {
  text-decoration: underline;
}

.navbar-toggler {
  z-index: 888;
}

#navbarNavDropdown {
  z-index: 887;
}

.testContainer {
  position: absolute;
  margin-top: 60px;

}


/*@media (min-width: 992px) { */

.testContainer {
  position: static;
  margin-top: 0;

}

/* } */





header p {
  /* font-style:italic; */
/*
font-size: 30px;
color: white; */

}

li {
  font-size: 18px;

}

/* p b {
  font-family: "Caviar_Dreams_Bold";
  font-weight: normal;
  color: #222
} */

/* .name {
  font-size: 22px;
  font-style: normal;
} */

/* header h1 {
  font-family: "AlexBrush";
}

h2, h3 {
  font-family: "LoraI";
} */

.sygdomTitle {
  font-size: 20px;
  font-weight: bold;
}

.standOut {
  width: 70%;
}

.headerLi
{
  list-style: none;
  padding-left: 0 !important;;
  margin-left: 0;
  font-family: "LoraR";
  font-size: 20px;
  color: #504e4b;
  display: none;
}



.someStuff p
{
  font-size: 17px;
}

.bold {
font-family: "LoraB";
/* color: #333230; */
color: #504e4b;
font-weight: bold;
}



.smallerBold {
  font-size: 19px;
  font-family: "LoraB";
  font-weight: bold;
  /* color: #333230; */
  color: #504e4b;
}

.containHR {
  width: 60%;

}

.jumboBR {
  /* border-top: 1px solid #666; */
}

.titleHr {
  width: 50%;
}

footer {
  background-color: #eee;
}

.textUp {
  margin-top: -5px;
}

.imgSection {
  height: 400px;
}

.hide {
  display: none;
}

/* Icons */



.langIcon{
width: 32px;
}

.langButton {
  padding: 0;
  margin: 5px;
  background: none;
  border: none;

}

.langButton:hover {
  cursor: pointer;
}





/* @font-face {
  font-family: "AlexBrush";
  src: url("Font/AlexBrush-Regular.ttf");
}

@font-face {
  font-family: "LoraI";
  src: url("Lora-BoldItalic.ttf");
} */

@font-face {
  font-family: "LoraR";
  src: url("font/Lora-Regular.ttf");
}

@font-face {
  font-family: "LoraB";
  src: url("font/Lora-Bold.ttf");
}
/*
@font-face {
  font-family: "CaviarDreams";
  src: url("font/CaviarDreams.ttf");
} */

/* @font-face {
  font-family: "Caviar_Dreams_Bold";
  src: url("font/Caviar_Dreams_Bold.ttf");
}

@font-face {
  font-family: "CaviarDreamsI";
  src: url("font/Caviar_Dreams_Italic.ttf");
} */

/* @font-face {
  font-family: "QuicksandR";
  src: url("font/Quicksand-Regular.otf") format("opentype");
}

@font-face {
  font-family: "QuicksandL";
  src: url("font/Quicksand-Light.otf") format("opentype");
} */

/* @font-face {
  font-family: "testFont";
  src: url("font/OpenSans-Regular.otf") format("opentype");
}

@font-face {
  font-family: "openBold";
  src: url("font/OpenSans-Bold.otf") format("opentype");
}

@font-face {
  font-family: "openBold";
  src: url("font/OpenSans-Bold.otf") format("opentype");
} */

@font-face {
  font-family: "artegra";
  src: url("font/artegra_sans-100-thin-webfont.woff") format('woff');
}

@font-face {
  font-family: "AmaticSC";
  src: url("font/AmaticSC-Regular.ttf");
}
h2, h3, h4, h5 {
  /* font-family: "QuicksandR"; */
font-family: "artegra";


}

h1 {
  font-size: 110px;
  font-family: "AmaticSC";
}


h2 {
  /* font-size: 2.5em; */
    font-size: 2.5em;
}


p {
  font-family: "LoraR";
  font-size: 20px;
  color: #504e4b;
}

@media (min-width: 992px) {
  .headerLi {
    display: flex;
  }

}

@media (max-width: 776px){
header h1 {
    font-size: 80px;
  }
}

@media (max-width: 484px){
header .jumboBR {
  margin-bottom: 0;
}
header .lead {
    margin-bottom: 0;
  }
}
